/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10.01.2018, 01:29:41
    Author     : Rouven
*/

* {
    margin: 0px;
    padding: 0px;
	font-family: Calibri;
}
body {
    background: #333333;
}

.header {
    width: 30%;
    
    color: black;
    background: #f59111;
    text-align: center;
    border-bottom: none;
	border-radius: 5px 5px 0px 0px;
    padding: 20px;
}
form {
    width: 30%;
	min-width: 360px;
    margin: 0px auto;
    padding: 20px;
	border-radius: 0px 0px 5px 5px;
    background: #A1A1A1;
}

a{
    text-decoration: none;
}

.input-group {
    margin: 10px 0px 10px 0px;

}
.input-group input {
	box-sizing: border-box;
    height: 30px;
    width: 100%;
    padding: 5px 15px;
    font-size: 16px;
	border-radius: 5px;
    border: 1px solid gray;
}
.btn {
	margin: 10px 0 0 0; 
    padding: 10px;
    font-size: 12pt;
    color: black;
	border-radius: 5px;
    background: #f59111;
    border: none;
	box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.5);
}
.btn:hover {
	background: #f5bb43;
	cursor: pointer;
}
/*
#login{
	float:left;
	display:block;
}

#guest{
	float: right;
	display:block;
}

.registerParagraph{
display:block;
}
*/
.error {
	box-sizing: border-box;
    width: 100%; 
 
    padding: 10px; 
	border-radius: 5px;
    border: 1px solid #a94442; 
    color: #a94442; 
    background: #f2dede; 

    text-align: left;
}
.success {
    color: #3c763d; 
    background: #dff0d8; 
    border: 1px solid #3c763d;
    margin-bottom: 20px;
}

.content{
    width: 20%;
    
    padding: 20px;
    margin: 0px auto;
    background: #808080;
    text-align: center;
}

.chatContainer{

}

.chatButton{
    
}

.chatButton input text{
    width: 70%;
}

.text{
    width: 70%;
}

/* Style the tab */
.tab {
    overflow: hidden;

	width: 30%;
	min-width: 360px;
    margin: 0px auto 0px;
    color: black;
    background: #f59111;
	text-align: center;
    border-bottom: none;
	border-radius: 5px 5px 0px 0px;
    padding: 10px 20px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
	margin: 0 auto;
	width: 30%;
	display: inline;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
	border-radius: 5px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #f5bb43;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #E37310;
}

.tablinks{
	font-size: 12pt;
	min-width: 110px;
}

/* Style the tab content */
.tabcontent {
    display: none;

}

.welcome{
	font-family:"Script MT", Calibri;
	font-size: 24pt;
	text-align: center;
	color: white;
	padding-top: 70px;
	margin: 0 auto;
}

.logo{
	display: block;
	text-align: center;
	margin: 0 auto;
	padding: 50px;
}
